<!DOCTYPE html>
<head>
<title>Foo Tix List</title>
  <link rel="stylesheet" type="text/css" href="../stylesheets/foo.css">
</head>
<h1>Foo Tix List</h1>
<div id="welcome">Welcome, <%=@username%></div>
<body>
<form>

<br />
<div id="data_table" class="datagrid" style="width:600px">
<table>
  <thead>
  <tr><th>Artist</th><th>Venue</th><th>Seat</th><th>Price</th><th>Buy</th></tr>
  </thead>
  <tbody>

  <% @@tickets = session[:tickets]%>

  <% @@tickets.each do |key, value |
    ticket = value %>
   <tr><td><%= ticket.artist %></td><td><%= ticket.venue %></td><td><%= ticket.seat %></td><td><%= ticket.price %></td>
     <td><a href="/footix/ticket_buy?artist=<%= ticket.artist %>&venue=<%= ticket.venue %>&seat=<%= ticket.seat %>&price=<%=ticket.price %>&nbr=<%=ticket.nbr %>">Buy</a></td></tr>
  <% end %>
  </tbody>
</table>
</div>

<br />
<div id="total_items">Total tickets available: <%=@@tickets.size%></div>

</form>
</body>
</html>